<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.doit.ik.mapper.ProjectMapper">

	<!--  상세보기용 프로젝트 조회  -->
	<select id="getProject" resultType="org.doit.ik.domain.Project">
		SELECT *
		FROM project
		WHERE pro_cd = #{pro_cd}
	</select>

	<!--  세부 카테고리 객체 얻어오기 -->
	<select id="getDetailCategory" resultType="org.doit.ik.domain.DetailCategory">
		<![CDATA[ 
			SELECT * 
			FROM DTL_CTG d 
				JOIN PROJECT p ON p.dtl_ctg_code = d.dtl_ctg_code 
				FULL JOIN CTG c ON d.ctg_code = c.ctg_code
				WHERE PRO_CD = #{pro_cd} ]]>
	</select>

	<!--   대표 이미지 파일 얻어오기   -->
	<select id="getImageFiles" resultType="org.doit.ik.domain.File">
		<![CDATA[ SELECT * FROM ATT_FILE WHERE PRO_CD = #{pro_cd} ]]>
	</select>

	<!--  달성금액 가져오기  -->
	<select id="getPaySum" resultType="Integer">
		<![CDATA[ SELECT NVL(SUM(sp_total),0) FROM SP_PAY WHERE pro_cd = #{pro_cd} ]]>
	</select>
	
	<select id="getProjectPlan" resultType="org.doit.ik.domain.Plan">
		<![CDATA[ SELECT * FROM PROJECT_PLAN WHERE pro_cd = #{pro_cd} ]]>
	</select>

	<select id="getPolicy" resultType="org.doit.ik.domain.Policy">
		<![CDATA[ SELECT * FROM TAS WHERE pro_cd = #{pro_cd} ]]>
	</select>

	<select id="getMember" resultType="org.doit.ik.domain.Member">
		<![CDATA[ SELECT * FROM MEMBER WHERE m_cd = #{m_cd} ]]>
	</select>

	<select id="getCreatorPhoto" resultType="org.doit.ik.domain.File">
		<![CDATA[ SELECT * FROM ATT_FILE WHERE m_cd = #{m_cd} ]]>
	</select>

	<select id="selectGiftList" resultType="org.doit.ik.domain.Gift">
		<![CDATA[ SELECT * FROM GIFT WHERE pro_cd = #{pro_cd} ]]>
	</select>

	<select id="getBuyAmount" resultType="Integer">
		<![CDATA[ SELECT NVL(Count(*),0) FROM SP_PAY WHERE gift_cd = #{gift_cd} ]]>
	</select>

	<select id="getItems" resultType="org.doit.ik.domain.ItemSet">
		<![CDATA[ SELECT item_set_cd, item_cnt, gift_cd, s.item_cd, item_name FROM item_set s LEFT JOIN item i ON s.item_cd = i.item_cd WHERE gift_cd = #{gift_cd} ]]>
	</select>	
	
	<!-- pay -->
	<!-- 후원할 프로젝트 정보 가져오기 -->
	<select id="getPro" resultType="org.doit.ik.domain.PayList">
		SELECT t.*, ROUND(pro_total/pro_price*100) achv
		FROM(
					SELECT af_path, dtl_ctg_name, m_name, pro_long, SUM(sp_total) pro_total, pro_price, CEIL(TO_DATE(pro_end, 'RR/MM/DD') - SYSDATE) remain, gift_desc, gift_min, gift_dlv, pro_end + 1 pro_end, pro_sup
					FROM project a JOIN att_file b ON a.pro_cd = b.pro_cd 
						JOIN member c ON a.m_cd = c.m_cd
						JOIN gift d ON a.pro_cd = d.pro_cd
						JOIN item_set e ON e.gift_cd = d.gift_cd
						JOIN item f ON f.item_cd = e.item_cd
						JOIN sp_pay h ON h.pro_cd = a.pro_cd
						JOIN dtl_ctg i ON i.dtl_ctg_code = a.dtl_ctg_code
					WHERE a.pro_cd = #{ procd } AND d.gift_cd = #{ giftcd } AND b.af_rep = 1
					GROUP BY af_path, dtl_ctg_name, m_name, pro_long, pro_price, CEIL(TO_DATE(pro_end, 'RR/MM/DD') - SYSDATE), gift_desc, gift_min, gift_dlv, pro_end, pro_sup
		) t
	</select>
	
	<select id="getSup" resultType="org.doit.ik.domain.Supporter">
		SELECT m_tel, m_email, addr_cd, addr_rec, addr_postal, addr_detail, addr_tel, addr_default, pm_cd, pm_default, card_number, acnt_bank, acnt_number
		FROM member a FULL OUTER JOIN address b ON a.m_cd = b.m_cd
			FULL OUTER JOIN pay_method c ON a.m_cd = c.m_cd
			FULL OUTER JOIN card_info d ON c.card_cd = d.card_cd
			FULL OUTER JOIN account_info e ON e.acnt_cd = c.acnt_cd
		WHERE a.m_cd = #{ mcd }
	</select>
	
	<select id="getItem" resultType="org.doit.ik.domain.Item">
		SELECT item_name, item_cnt
		FROM project a
			JOIN member c ON a.m_cd = c.m_cd
			JOIN gift d ON a.pro_cd = d.pro_cd
			JOIN item_set e ON e.gift_cd = d.gift_cd
			JOIN item f ON f.item_cd = e.item_cd
			JOIN sp_pay h ON h.pro_cd = a.pro_cd
			JOIN dtl_ctg i ON i.dtl_ctg_code = a.dtl_ctg_code
		WHERE a.pro_cd = #{ procd } AND d.gift_cd = #{ giftcd } 
		GROUP BY dtl_ctg_name, m_name, pro_long, pro_price, CEIL(TO_DATE(pro_end, 'RR/MM/DD') - SYSDATE), gift_desc, item_name, item_cnt, gift_min, gift_dlv, pro_end
	</select>
	
	<insert id="pay">
		INSERT INTO sp_pay (sp_cd, sp_date, sp_total, m_cd, pro_cd, addr_cd, pm_cd, gift_cd)
		VALUES ('SPT' || SEQ_SP_PAY.NEXTVAL, SYSDATE, #{ giftmin }, #{ mcd }, #{ procd }, #{ addrcd }, #{ pmcd }, #{ giftcd } )
	</insert>
	
	<update id="increasedSup">
		UPDATE project SET pro_sup = pro_sup + 1 WHERE pro_cd = #{ procd }
	</update>

	
	
	
	<!-- 목록보기  -->
		<select id="selProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT *
			FROM project
			WHERE PRO_STATUS = '진행중'
			ORDER BY TO_NUMBER(SUBSTR(pro_cd,4)) ASC
		]]>
	</select>

	<select id="selPopProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT *
			FROM project
			WHERE PRO_STATUS = '진행중'
			ORDER BY pro_sup DESC NULLS LAST
		]]>
	</select>
	
	<select id="selNewProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT *
			FROM project
			WHERE PRO_STATUS = '진행중'
			ORDER BY pro_start DESC
		]]>
	</select>
	
	<select id="selEndProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT *
			FROM project
			WHERE PRO_STATUS = '진행중'
			ORDER BY pro_end ASC
		]]>
	</select>
	
	<select id="selSoonProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT *
			FROM project
            WHERE PRO_STATUS = '공개예정'
			ORDER BY pro_start ASC
		]]>
	</select>
	
	<select id="selCtgProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT p.*
			FROM project p
			LEFT JOIN dtl_ctg d on p.dtl_ctg_code = d.dtl_ctg_code
			LEFT JOIN ctg c on d.ctg_code = c.ctg_code
			WHERE REGEXP_LIKE( ctg_name, #{searchWord}, 'i' ) AND p.PRO_STATUS = '진행중'
		]]>
	</select>
	
	<select id="selDtlCtgProject" resultType="org.doit.ik.domain.Project">
		<![CDATA[
			SELECT p.*
			FROM project p
			LEFT JOIN dtl_ctg d on p.dtl_ctg_code = d.dtl_ctg_code
			WHERE REGEXP_LIKE( dtl_ctg_name, #{searchWord}, 'i' ) AND p.PRO_STATUS = '진행중'
		]]>
	</select>
	
	<select id="selectByProCd" resultType="org.doit.ik.domain.File">
		<![CDATA[
			SELECT *
			FROM att_file
			WHERE pro_cd = #{pro_cd} AND af_rep = 1
		]]>
	</select>
	
	<select id="selectByCd" resultType="org.doit.ik.domain.DetailCategory">
		<![CDATA[
			SELECT *
			FROM DTL_CTG
			WHERE DTL_CTG_CODE = #{dtl_ctg_code}
		]]>
	</select>
	
	<select id="SumByProCd" resultType="int">
		<![CDATA[
			SELECT NVL(SUM(sp_total),0) sum
			FROM sp_pay
			WHERE pro_cd = #{pro_cd}
		]]>
	</select>
	
</mapper>
